# Python cache
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Build / Package files
build/
dist/
*.egg-info/
*.egg
.eggs/
wheels/
sdist/

# Logs
*.log

# Environment secrets
.env
.envrc

# Test / Coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.tox/
.nox/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tempCodeRunnerFile.py

# Python tools cache
.ruff_cache/
.mypy_cache/
.pytest_cache/

# OSSIND local files
*.local